.settings {
  max-width: 1000px;
  margin: 10px auto 0 auto;
}

.settings__aside {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.settings__content {
}

.settings__link {
  border: none;
  background-color: transparent;
}

.settings__link:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .settings {
    display: flex;
    flex-flow: row nowrap;
  }

  .settings__aside {
    flex: 0 0 auto;
    width: 200px;
  }

  .settings__link {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 12px;
    text-align: center;
    border-right: 3px solid transparent;
  }

  .settings__link:hover {
    border-right: 3px solid var(--color-alt);
  }

  .settings__link--active {
    border-right: 3px solid var(--color-alt);
  }

  .settings__content {
    flex: 1 0 auto;
  }
}
