.dashboard {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard__header {
  width: 100%;
}

.dashboard__heading {
  font-size: 3rem;
  color: var(--color-alt);
  text-align: center;
  margin: 1em 0;
}

.dashboard__aside {
  flex: 1 0 auto;
  margin: 10px;
  background-color: white;
  padding: 5px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(17 22 26 / 16%), 0 4px 8px 0 rgb(17 22 26 / 8%),
    0 8px 16px 0 rgb(17 22 26 / 4%);
}

.dashboard__link {
  display: block;
  font-size: 1.5rem;
  color: var(--color-link);
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
}

.dashboard__content {
  flex: 1 0 auto;
  width: 100%;
}

.dashboard__analytics {
  background-color: white;
  margin: 10px;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(17 22 26 / 16%), 0 4px 8px 0 rgb(17 22 26 / 8%),
    0 8px 16px 0 rgb(17 22 26 / 4%);
}

.dashboard__content-unavailable {
  padding: 5em 0;
  text-align: center;
  font-size: 1.5rem;
}

.dashboard__content-heading {
  border-bottom: 2px solid #dedede;
  padding-bottom: 5px;
}

.dashboard__content-link {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-link);
  margin-left: 10px;
}

.dashboard__content-link:hover {
  color: var(--color-link-hover);
}

@media only screen and (min-width: 600px) {
  .dashboard {
    flex-flow: row wrap;
  }

  .dashboard__aside {
    width: 200px;
    flex: 0 0 auto;
  }

  .dashboard__content {
    width: auto;
    padding: 0 10px;
  }
}
