* {
  box-sizing: border-box;
}

:root {
  --color-text: #000000;
  --color-text-off: #efefef;
  --color-subtle: #6b6b6b;
  --color-link: #000000;
  --color-link-active: #0c0c0c;
  --color-alt: #31b768;
  --color-alt-darken: #2d9759;
  --color-background: #efefef;
  --color-background-off: #f8fafb;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--color-text);
  font-size: 10px;
  font-family: 'Besley', serif;
}

.main {
}
