.recipe {
}

.recipe__wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.recipe__header {
  text-align: center;
}

.recipe__img {
  width: 100%;
}

.recipe__title {
  font-size: 3rem;
  font-weight: 700;
}

.recipe__subtitle {
  font-size: 1.5rem;
}

.recipe__summary {
  color: var(--color-subtle);
  font-size: 1.5rem;
}

.recipe__stats {
  font-size: 1.25rem;
  padding: 10px 0;
}

.recipe__cook,
.recipe__prep {
  margin-right: 10px;
}

.recipe__cookicon {
  fill: var(--color-alt);
  vertical-align: middle;
  margin-right: 5px;
}

.recipe__controls {
}

.recipe__edit {
  color: var(--color-link);
  text-decoration: none;
  font-size: 1.5rem;
}

.recipe__edit:hover {
  color: var(--color-link-hover);
}

.recipe__author {
  display: flex;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px 10px;
  color: var(--color-text);
  transition: box-shadow 0.3s ease-out;
  text-decoration: none;
  border-radius: 5px;
  align-items: center;
}

.recipe__author:hover {
  box-shadow: 0 0 8px 0 rgb(17 22 26 / 6%), 0 4px 16px 0 rgb(17 22 26 / 8%),
    0 8px 12px 0 rgb(17 22 26 / 6%), 0 16px 24px 0 rgb(17 22 26 / 4%);
}

.recipe__author-img {
  margin-right: 5px;
  border-radius: 50%;
  height: 45px;
  width: 50px;
}

.recipe__author-name {
  font-size: 1.5rem;
  flex: 1 0 auto;
  text-align: left;
}

.recipe__arrow {
  display: inline-block;
  border: solid var(--color-alt);
  border-width: 0 3px 3px 0;
  padding: 6px;
  transform: rotate(-45deg);
  margin-right: 5px;
}

.recipe__author:hover .recipe__arrow {
  border-color: var(--color-alt-darken);
}

@media only screen and (min-width: 600px) {
  .recipe {
  }

  .recipe__wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  .recipe__header {
    width: 100%;
  }

  .recipe__ingredients {
    flex: 0 0 auto;
    width: 200px;
  }
  .recipe__directions {
    flex: 1 0 1px;
  }

  .recipe__facts {
    width: 100%;
    flex: 1 0 auto;
  }
}
