.comments {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.comments__heading {
  font-size: 1.5rem;
}

.comments__unauth {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: 20px 0 50px 0;
}

.comments__list {
  list-style: none;
  padding: 0;
}

.comments__item {
}

.comments__item--create {
  max-width: 600px;
  margin: 0 auto;
}

.comments__error-input {
  display: block;
  background-color: #fbe6e6;
  color: #501212;
  font-size: 1.5rem;
  padding: 1em 2em;
  margin-bottom: 1em;
  border-radius: 3px;
}

.comments__textarea {
  display: block;
  resize: none;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 100px;
  font-size: 1.5rem;
  padding: 10px;
}

.comments__textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px var(--color-alt);
  box-shadow: 0 0 0 4px var(--color-alt);
  border-color: transparent;
  border-radius: 5px;
}

.comments__submit {
}

.comments__submit {
  display: block;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 2em auto;
  color: var(--color-text-off);
  font-weight: 700;
  font-size: 1.5rem;
  background-color: var(--color-alt);
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0 4px 8px 0 rgb(17 22 26 / 16%),
    0 4px 8px 0 rgb(17 22 26 / 8%), 0 8px 16px 0 rgb(17 22 26 / 4%);
  box-shadow: 0 4px 8px 0 rgb(17 22 26 / 16%), 0 4px 8px 0 rgb(17 22 26 / 8%),
    0 8px 16px 0 rgb(17 22 26 / 4%);
}

.comments__submit:hover {
  cursor: pointer;
  background-color: var(--color-alt-darken);
  -webkit-box-shadow: 0 0 8px 0 rgb(17 22 26 / 6%),
    0 4px 16px 0 rgb(17 22 26 / 8%), 0 8px 12px 0 rgb(17 22 26 / 6%),
    0 16px 24px 0 rgb(17 22 26 / 4%);
  box-shadow: 0 0 8px 0 rgb(17 22 26 / 6%), 0 4px 16px 0 rgb(17 22 26 / 8%),
    0 8px 12px 0 rgb(17 22 26 / 6%), 0 16px 24px 0 rgb(17 22 26 / 4%);
}

.comments__submit:disabled {
  background-color: var(--color-disabled);
}

.comments__author {
  font-weight: 700;
  font-size: 1.5rem;
}

.comments__img {
  height: 50px;
  width: auto;
  border-radius: 50%;
  vertical-align: middle;
}

.comment__author-link {
  vertical-align: middle;
  color: var(--color-link);
  text-decoration: none;
  word-break: break-all;
}

.comment__author-link:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

.comments__content {
  font-size: 1.5rem;
  padding: 0 20px;
}

.comments__dividor {
  border-color: var(--color-background-off);
}

@media only screen and (min-width: 600px) {
  .comments__heading {
    font-size: 2.5rem;
  }
  .comments__list {
    padding: 0 10px;
  }
}
