.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.dialog__wrapper {
  background-color: white;
  width: 600px;
  padding: 20px 0;
  border-radius: 5px;
}

.dialog__message {
  font-size: 2rem;
  padding: 2em 0;
  color: var(--color-text);
}

.dialog__button {
  background-color: transparent;
  border: none;
  font-size: 1.35rem;
  font-weight: 700;
  padding: 12px 10px;
  margin-right: 15px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0 4px 8px 0 rgb(17 22 26 / 16%),
    0 4px 8px 0 rgb(17 22 26 / 8%), 0 8px 16px 0 rgb(17 22 26 / 4%);
  box-shadow: 0 4px 8px 0 rgb(17 22 26 / 16%), 0 4px 8px 0 rgb(17 22 26 / 8%),
    0 8px 16px 0 rgb(17 22 26 / 4%);
}

.dialog__button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 8px 0 rgb(17 22 26 / 6%),
    0 4px 16px 0 rgb(17 22 26 / 8%), 0 8px 12px 0 rgb(17 22 26 / 6%),
    0 16px 24px 0 rgb(17 22 26 / 4%);
  box-shadow: 0 0 8px 0 rgb(17 22 26 / 6%), 0 4px 16px 0 rgb(17 22 26 / 8%),
    0 8px 12px 0 rgb(17 22 26 / 6%), 0 16px 24px 0 rgb(17 22 26 / 4%);
}

.dialog__button--confirm {
  background-color: var(--color-alt);
  color: var(--color-text-off);
}

.dialog__button--confirm:hover {
  background-color: var(--color-alt-darken);
}

.dialog__button--cancel {
  color: var(--color-text-off);
  background-color: var(--color-cancel);
}

.dialog__button--cancel:hover {
  background-color: var(--color-cancel-darken);
}
