.footer {
}

.footer__wrapper {
  display: flex;
  flex-flow: column wrap;
  padding: 4em 10px 2em 10px;
  max-width: 1400px;
  margin: 0 auto;
}

.footer__info {
  width: 150px;
  margin-bottom: 15px;
}

.footer__logo {
  font-size: 2rem;
  margin-bottom: 10px;
}

.footer__title--off {
  color: var(--color-alt);
}

.footer__description {
  font-size: 1.3rem;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}

.footer__item {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.footer__item--title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.footer__link {
  text-decoration: none;
  color: var(--color-link);
}

.footer__link:hover {
  color: var(--color-link-active);
}

.footer__bottom {
  background-color: var(--color-alt);
  padding: 1.2em 0;
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-text-off);
}

@media only screen and (min-width: 600px) {
  .footer__wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-evenly;
  }
}
