.header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
  max-width: 1400px;
  margin: 0 auto;
}

.header__menu {
  background-color: transparent;
  border: none;
  z-index: 10;
  margin-left: 5px;
  position: absolute;
  top: 20px;
  left: 0;
}

.header__menu:hover {
  cursor: pointer;
}

.menu__active .header__menu {
  position: fixed;
  transform: translateX(85px);
}

.header__bar {
  display: block;
  width: 35px;
  height: 2px;
  background-color: var(--color-text);
  margin: 0 auto 6px auto;
  transition: 0.4s;
  border-radius: 3px;
}

.menu__active .header__bar--1 {
  -webkit-transform: rotate(-45deg) translate(-18px, 2px);
  transform: rotate(-45deg) translate(-18px, 2px);
}

.menu__active .header__bar--2 {
  opacity: 0;
}

.menu__active .header__bar--3 {
  -webkit-transform: rotate(45deg) translate(-9px, 7px);
  transform: rotate(45deg) translate(-9px, 7px);
}

.header__nav {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  padding-top: 60px;
  background-color: var(--color-background);
  opacity: 0;
  z-index: 9;
}

.menu__active .header__nav {
  visibility: visible;
  opacity: 1;
  transition: 0.1s;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header__item {
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.header__item--title {
  font-size: 2rem;
  margin: 15px 0;
}

.header__link {
  text-decoration: none;
  color: var(--color-link);
  background-color: transparent;
  border: none;
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Besley', serif;
}

.header__link:hover {
  color: var(--color-link-active);
  cursor: pointer;
}

.header__text-alt {
  color: var(--color-alt);
}

.header__search {
  flex: 0 1 0 auto;
}

.header__overlay {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.2);
}

.menu__active .header__overlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 800px) {
  .header__menu {
    display: none;
  }

  .header__nav {
    position: relative;
    width: auto;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    padding: 0;
    height: auto;
    flex: 1 0 auto;
  }

  .header__list {
    display: flex;
  }

  .header__item {
    margin: 0 5px;
  }

  .header__item--title {
    margin-right: 10px;
  }

  .header__overlay {
    display: none;
  }
}
