.rating {
  font-size: 4rem;
  direction: rtl;
}

.rating__btn {
  font-size: 4rem;
  background-color: transparent;
  border: none;
}
.rating__label {
  /* float: right; */
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

.rating__btn:hover,
.rating__btn:hover ~ button,
.rating__btn--active {
  color: orange;
  cursor: pointer;
}
