.favorite__button {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  top: 5px;
  right: 10px;
  background-color: transparent;
}

.favorite__button:hover {
  cursor: pointer;
}

.favorite__svg path {
  fill: black;
}

.favorite__button__active path {
  fill: var(--color-alt);
}

.favorite__button:hover path {
  fill: var(--color-alt-darken);
}
