.loading {
  text-align: center;
  color: #efefef;
}

.loading--full {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.6em;
  font-weight: 400;
}

.loading__dots {
  display: block;
  position: relative;
  width: 80px;
  height: 40px;
  margin: 20px auto;
}

.loading__full .loading__dots {
  margin-left: 10px;
}

.loading__dots div {
  position: absolute;
  top: 10px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(244, 244, 244);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading__dots div:nth-child(1) {
  left: 2px;
  animation: loading__dots1 0.6s infinite;
}
.loading__dots div:nth-child(2) {
  left: 2px;
  animation: loading__dots2 0.6s infinite;
}
.loading__dots div:nth-child(3) {
  left: 26px;
  animation: loading__dots2 0.6s infinite;
}
.loading__dots div:nth-child(4) {
  left: 50px;
  animation: loading__dots3 0.6s infinite;
}
@keyframes loading__dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading__dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading__dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
