.recipe__wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.recipe__header {
  text-align: center;
  position: relative;
}

.recipe__preview {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  border: none;
  background-color: var(--color-alt);
  color: var(--color-text-off);
  font-size: 1.75rem;
  font-weight: 500;
}

.recipe__preview:hover {
  background-color: var(--color-alt-darken);
  cursor: pointer;
}

.recipe__img_wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.recipe__img {
  width: 100%;
}

.recipe__tools {
  position: relative;
  height: 20px;
  max-width: 600px;
  margin: 0 auto;
}
.recipe__title {
  font-size: 3rem;
  font-weight: 700;
}

.recipe__subtitle {
  font-size: 1.5rem;
}

.recipe__summary {
  color: var(--color-subtle);
  font-size: 1.5rem;
}

.recipe__stats {
  font-size: 1.25rem;
  padding: 10px 0;
}

.recipe__cook,
.recipe__prep {
  margin-right: 10px;
}

.recipe__cookicon {
  fill: var(--color-alt);
  vertical-align: middle;
  margin-right: 5px;
}

.recipe__controls {
  text-align: right;
}

.recipe__toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
}

.recipe__toggle:hover {
  background-color: var(--color-alt-dimmed);
  cursor: pointer;
}

.recipe__toggle svg {
  width: 40px;
  height: 40px;
}

.recipe__overlay {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.recipe__overlay__active {
  opacity: 1;
  visibility: visible;
}

.recipe__options {
  display: none;
  position: fixed;
  padding: 0;
  margin: 0 auto;
  bottom: 0;
  list-style: none;
  background-color: white;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 10px 0;
  text-align: center;
}

.recipe__options__active {
  display: block;
}

.recipe__option {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.5rem;
  padding: 5px 0;
}

.recipe__option__mobile {
  display: block;
}

.recipe__option_item {
  display: block;
  width: 100%;
  color: var(--color-link);
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
}

.recipe__option_item:hover {
  cursor: pointer;
  color: var(--color-link-hover);
}

.recipe__author {
  display: flex;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px 10px;
  color: var(--color-text);
  transition: box-shadow 0.3s ease-out;
  text-decoration: none;
  border-radius: 5px;
  align-items: center;
}

.recipe__author:hover {
  box-shadow: 0 0 8px 0 rgb(17 22 26 / 6%), 0 4px 16px 0 rgb(17 22 26 / 8%),
    0 8px 12px 0 rgb(17 22 26 / 6%), 0 16px 24px 0 rgb(17 22 26 / 4%);
}

.recipe__author_img_wrapper {
  position: relative;
  height: 45px;
  width: 50px;
  margin-right: 5px;
}

.recipe__author_img {
  border-radius: 50%;
}

.recipe__author_name {
  font-size: 1.5rem;
  flex: 1 0 auto;
  text-align: left;
}

.recipe__arrow {
  display: inline-block;
  border: solid var(--color-alt);
  border-width: 0 3px 3px 0;
  padding: 6px;
  transform: rotate(-45deg);
  margin-right: 5px;
}

.recipe__author:hover .recipe__arrow {
  border-color: var(--color-alt-darken);
}

.recipe__ingredients,
.recipe__directions,
.recipe__facts {
  padding: 10px 0;

  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.recipe__facts {
  padding-bottom: 50px;
}

.recipe__list {
  list-style: none;
  width: 100%;
}

.recipe__item {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.recipe__item__ingredient {
  font-size: 1.5rem;
}

.recipe__amount {
  margin-right: 5px;
}

.recipe__step {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  .recipe {
  }

  .recipe__wrapper {
  }

  .recipe__subtitle {
    font-size: 2.5rem;
  }

  .recipe__header {
    width: 100%;
  }

  .recipe__img {
    width: 600px;
    height: auto;
    margin: 0 auto;
  }

  .recipe__controls {
    position: relative;
  }

  .recipe__overlay,
  .recipe__overlay__active {
    display: none;
  }

  .recipe__options {
    position: absolute;
    width: 200px;
    right: 40px;
    bottom: auto;
    top: 0;
    left: auto;
    -webkit-box-shadow: 0 4px 8px 0 rgb(17 22 26 / 16%),
      0 4px 8px 0 rgb(17 22 26 / 8%), 0 8px 16px 0 rgb(17 22 26 / 4%);
    box-shadow: 0 4px 8px 0 rgb(17 22 26 / 16%), 0 4px 8px 0 rgb(17 22 26 / 8%),
      0 8px 16px 0 rgb(17 22 26 / 4%);
  }

  .recipe__option__mobile {
    /* display: none; */
  }
}
