.favorites {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 100vh;
}

.favorites__heading {
  font-size: 3rem;
}

.favorites__list {
  margin: 0;
  padding: 0;
}

.favorites__item {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-top: 50px;
}

.favorites__item__missing {
  font-size: 2rem;
  font-weight: normal;
  width: 100%;
  margin-top: 70px;
  text-align: center;
}

.favorites__preview_wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
}

.favorites__preview {
  display: inline-block;
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.favorites__info {
  padding-left: 10px;
}
.favorites__title {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-link);
  text-decoration: none;
  margin: 15px 0;
}

.favorites__title:hover {
  color: var(--color-link-active);
}

.favorites__summary {
  font-size: 1.25rem;
}

@media only screen and (min-width: 600px) {
  .favorites__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .favorites__item {
    display: block;
    width: 280px;
    margin: 0 10px 20px 10px;
  }

  .favorites__item__missing {
    font-size: 2.5rem;
    width: 100%;
  }

  .favorites__preview {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .favorites__info {
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px;
  }

  .favorites__title {
    margin: 0 0 10px 0;
  }
}
