.faq__header {
  padding: 2em 0;
}

.faq__heading {
  text-align: center;
}

.faq__aside {
  display: none;
}

.faq__links {
  width: 100%;
  text-align: center;
}

.faq__link {
  font-size: 1.8rem;
  color: var(--color-subtle);
  text-decoration: none;
}

.faq__link:hover {
  color: var(--color-text);
}

.faq__questions {
  padding: 0 10px;
}

.faq__list {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.faq__item {
  font-size: 1.5rem;
  padding-top: 15px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(0, 7, 9, 0.1);
}

.faq__item--title {
  color: var(--color-subtle);
  font-size: 1.8rem;
  border: none;
}

.faq__button {
  display: flex;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.faq__question {
  font-weight: 700;
  flex: 1 0 auto;
  text-align: left;
}

.faq__toggle {
  flex: 0 1 auto;
  transition: transform 0.3s ease;
}

.faq__bar {
  display: block;
  width: 20px;
  height: 1.2px;
  background-color: var(--color-text);
  margin: 0 auto 6px auto;
  border-radius: 3px;
}

.faq__bar--1 {
  -webkit-transform: rotate(-90deg) translate(7px, 0px);
  transform: rotate(-90deg) translate(-7px, 0px);
}

.faq__item--active .faq__toggle {
  transform: rotate(45deg);
}

.faq__answer {
  padding: 1em 0;
}

@media only screen and (min-width: 600px) {
  .faq__wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  .faq__aside {
    display: block;
    width: 200px;
    flex: 0 0 auto;
  }

  .faq__questions {
    flex: 1 0 auto;
  }
}
