.home {
  display: flex;
  padding: 8em 20px 0 20px;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 60px);
  max-width: 1400px;
  margin: 0 auto;
}

.home__header {
  position: relative;
  text-align: center;
}

.home__heading {
  font-size: 5rem;
  line-height: 1.2;
  margin: 1em 0 5px 0;
}

.home__description {
  color: var(--color-subtle);
  font-size: 1.75rem;
  margin-bottom: 40px;
}

.home__link {
  background-color: var(--color-alt);
  color: var(--color-text-off);
  border: 1px solid transparent;
  padding: 10px 15px;
  border-radius: 8px;
  margin-right: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.home__link--off {
  background-color: transparent;
  border: 1px solid var(--color-alt);
  color: var(--color-alt);
}

.home__link:hover {
  cursor: pointer;
  background-color: var(--color-alt-darken);
}

.home__link--off:hover {
  cursor: pointer;
  background-color: var(--color-background);
}

.home__blob {
  position: absolute;
  top: -100px;
  left: -300px;
  fill: #ecfff0;
  z-index: -1;
  width: 500px;
  height: 500px;
}

.home__aside {
  display: none;
}

.popular {
  background-color: var(--color-background-off);
  padding: 8em 20px;
}

.popular__wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.popular__header {
  text-align: center;
  margin-bottom: 4em;
}

.popular__heading {
  font-size: 3rem;
  margin: 0;
}

.popular__text {
  font-size: 1.4rem;
  color: var(--color-subtle);
}

.popular__catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.popular__image {
  border-radius: 50%;
  width: 100%;
}

.carousels {
  padding: 8em 0;
  max-width: 1400px;
  margin: 0 auto;
}

.carousel__item {
  width: 100%;
}

.carousel__recipe {
}

.carousel__title {
  font-size: 3rem;
  margin: 0 0 0 0;
}

.carousel__description {
  font-size: 1.6rem;
  color: var(--color-subtle);
}

.carousel__info {
  color: var(--color-subtle);
}

.carousel__aside {
  display: none;
}

.carousel__review {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 600px) {
  .home__header {
    padding: 0 100px;
  }

  .home__heading {
    font-size: 6rem;
  }

  .home__blob {
    position: absolute;
    top: -100px;
    left: -200px;
    fill: #ecfff0;
    z-index: -1;
  }

  .home__food {
    display: block;
    width: 100%;
  }

  .home__review {
    display: block;
    position: absolute;
    padding: 15px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }

  .home__review--top {
    top: 350px;
    left: 0;
  }

  .home__review--bottom {
    top: 200px;
    right: 30px;
  }

  .home__title {
    font-size: 1.5rem;
    margin: 0 0 5px 0;
  }

  .home__rating {
    font-size: 1.25rem;
    color: var(--color-subtle);
    margin-bottom: 10px;
  }

  .home__fire {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
  }

  .home__fire path:first-child {
    fill: #f3705a;
  }

  .home__fire path:last-child {
    fill: #ffd15c;
  }

  .home__text {
    color: var(--color-subtle);
    font-size: 1.5rem;
    margin: 0;
  }

  .carousel__item {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }

  .carousel__recipe {
    flex: 1 0 auto;
  }

  .carousel__aside {
    display: block;
    flex: 1 0 auto;
    max-width: 200px;
  }
}

/* Remove image from main heading with reviews */
@media only screen and (min-width: 1200px) {
  .home__header {
    display: inline-block;
    width: 50%;
  }

  .home__aside {
    display: inline-block;
    width: 50%;
    position: relative;
  }
}
